@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=League+Spartan:wght@200;300;400&family=PT+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

span {
  display: block;
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: rgba(0, 0, 0, 0.568);
}

a:link,
a:visited,
a:hover,
a:active {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
  flex-direction: row;
  display: flex;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 535px;
  color: #fff;
  font-weight: 200;
}

.app-container {
  width: 100%;
  height: 100%;
  display: inline-flex;
  overflow: hidden;
  position: absolute;
  flex-direction: column;
}

.title-input-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 123px;
  width: 100%;
  text-align: center;
}

.title-app {
  display: flex;
  justify-content: center;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.432);
  margin-right: 211px;
}

.main-container {
  max-width: 720px;
  width: 100%;
  height: 440px;
  left: 50%;
  text-align: center;
  border-radius: 10px;
  margin-top: 50px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.479);
  position: fixed;
  transform: translateX(-50%);
  overflow: hidden;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.164);
  padding: 25px 0px;
  margin-top: 175px;
  background-color: rgba(0, 0, 0, 0.568);
}

.bg-image-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  filter: brightness("9" 0%);
  border-radius: 7px;
  filter: blur(5.5px);
}

.img-holder {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: scale(1.2, 1.2);
  z-index: -1;
}

.bg-image {
  width: 125%;
  height: 125%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
  pointer-events: none;
  position: absolute;
  filter: blur(100px);
  -webkit-filter: blur(100px);
  -moz-filter: blur(100px);
  -o-filter: blur(100px);
  -ms-filter: blur(100px);
  top: -10%;
}

.btn-input-container {
  display: inline-flex;
}

.input-search > input {
  border: 1px solid transparent;
  padding: 7px;
  border-radius: 5px;
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.26);
  color: rgb(0, 0, 0);
  outline: none;
}

.input-search > input:focus {
  box-shadow: 0px 0px 3px rgb(255, 255, 255);
}

.btn-input-container > button {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.btn-input-container > button:hover {
  background-color: rgb(97, 97, 97);
  color: #fff;
}

.main-info-container {
  display: flex;
  justify-content: space-around;
  padding: 0px 21px;
  padding-top: 25px;
}

.main-info-container .weather-icon {
  margin-left: -17px;
}

.current-weather-description {
  font-size: 21px;
  font-weight: 400;
}

.min-max-temp {
  font-weight: 100;
}

.forecast-container {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
  margin: 0 45px;
}

.forecast-container > .forecast-content > .week-day {
  font-size: 18px;
}

.forecast-temp {
  font-size: 21px;
}

.forecast-description {
  font-weight: 100;
  margin-top: 2px;
}

.daily-details-container {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
}

.daily-details-container::after {
  content: " ";
  height: 1px;
  background: #fff;
  display: flex;
  margin-left: 12.5%;
  max-width: 75%;
}

.details-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 66px;
  margin-top: 49px;
}

.details-icons {
  margin-top: 9px;
  font-size: 20px;
  font-weight: 200;
}

.detail-data {
  font-size: 26px;
  margin-top: 5px;
}

.detail-content-container {
  padding: 6px;
  height: 89px;
  width: 109px;
  font-size: 17px;
  margin-bottom: 30px;
  border-radius: 9px;
  background: rgba(0, 0, 0, 0.171);
}

.content {
  border-bottom: 1px solid #fff;
  border-bottom-width: 3px;
  cursor: pointer;
}

.daily {
  margin-left: 109px;
}

.details {
  margin-left: 30px;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.city-name {
  font-size: 36px;
}

.city-current-date {
  margin-top: 5px;
  font-size: 22px;
  font-weight: 300;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.current-temp {
  font-size: 80px;
  font-weight: 200;
}

.min-max-temp {
  font-size: 30px;
}

.weather-icon {
  -webkit-filter: drop-shadow(1px 1px 2px rgba(34, 34, 34, 0.6));
  filter: drop-shadow(1px 1px 2px rgba(34, 34, 34, 0.6));
  width: 89px;
}

.loading-container {
  margin-top: 85px;
}

.initial-and-error-msg {
  margin-top: 209px;
}

.footer-content {
  width: 100%;
  height: 49%;
}

@media (max-width: 720px) {
  footer {
    margin-top: 696px;
    z-index: 3;
  }

  .main-container {
    height: 580px;
    width: 320px;
  }

  .current-weather-description {
    font-weight: 100;
  }

  .scroll-container {
    overflow-y: scroll;
    max-height: 100%;
    height: 100%;
  }

  .title-input-btn-container {
    display: block;
    text-align: center;
    margin-top: 60px;
  }

  .title-app {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .city-data-container {
    margin-bottom: 50px;
  }

  .forecast-container {
    flex-direction: column;
  }

  .forecast-content {
    margin-bottom: 33px;
    background: rgba(0, 0, 0, 0.171);
    padding: 13px;
    border-radius: 9px;
    margin-left: 11px;
  }

  .forecast-content:first-child {
    margin-top: 26px;
  }

  .forecast-content:last-child {
    margin-bottom: 10px;
  }

  .forecast-container > .forecast-content > .week-day {
    font-size: 23px;
    margin-bottom: -13px;
  }

  .forecast-temp {
    font-size: 25px;
  }

  .forecast-temp-description {
    margin-top: -10px;
    font-size: 21px;
  }

  .forecast-description {
    font-weight: 200;
  }

  .weather-icon {
    width: 100px;
  }

  .city-name {
    font-size: 30px;
  }

  .city-current-date {
    font-size: 19px;
  }

  .min-max-temp {
    font-size: 21px;
  }

  .current-temp {
    font-size: 70px;
  }

  .bg-image-container {
    height: 180%;
    filter: blur(8px);
  }

  .detail-content-container {
    padding: 30px;
  }

  .details-container {
    display: flex;
    flex-direction: column;
    margin-left: 76px;
  }

  .details-icons {
    font-size: 23px;
    margin-top: 6px;
  }

  .detail-data {
    font-size: 28px;
  }

  .details {
    font-size: 18px;
  }

  .daily {
    font-size: 18px;
    margin-left: 102px;
  }

  .loading-container {
    margin-left: 11px;
  }

  .initial-and-error-msg {
    display: flex;
    justify-content: center;
    margin-top: 266px;
    margin-left: 9px;
    margin-right: 9px;
  }
}

/*scrollbar*/
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 11px;
  max-height: 100%;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 111px;
  background: transparent;
  box-shadow: inset 0 0 10px 10px #707070;
  border: solid 4px transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff07;
}
